## Python Data Structures

# 1.Lists

In [1]:
l=[]
type(l)

list

In [2]:
l  #using list_name to access entire list

[]

In [5]:
l=[1,23,34,45,56]
#l #Accessing all elements
l[0:]

[1, 23, 34, 45, 56]

In [6]:
l[::-1] # list Reverse

[56, 45, 34, 23, 1]

In [7]:
l

[1, 23, 34, 45, 56]

In [8]:
l[::2]

[1, 34, 56]

In [9]:
l[1::3]

[23, 56]

In [10]:
l[1::2]

[23, 45]

In [11]:
name="hai"
my_list=[]
#my_list=list()
type(my_list)
my_list=["hi","hello","bye"]
len(my_list)
my_list[2]

'bye'

# List Methods

###  1.Append  --- To add New item in the list

In [12]:
my_list.append("Welcome")
my_list

['hi', 'hello', 'bye', 'Welcome']

In [15]:
list2=["hai","hello"]
my_list.append(list2)
my_list
len(my_list)

['hi',
 'hello',
 'bye',
 'Welcome',
 ['hai', 'hello'],
 ['hai', 'hello'],
 ['hai', 'hello']]

### 2.Extend --- To add specific items separately at the end

In [2]:
l1=["see","watch"]
l2=["eat","sleep"]
l1.extend(l2)
len(l1)

4

### 3.Copy ---To make a duplicate of the original list

In [3]:
l3=l1.copy()
l3

['see', 'watch', 'eat', 'sleep']

### 4.Clear --- To remove all elements in the list

In [4]:
l3.clear()
l3

[]

### 5.Count(item)---- To count the appearance of the particular item in the list

In [11]:
numb=[1,2,1,2,3,[2,3,4,5],[1,3,4,5],3,4,5]
numb.count(2)

2

### 6.index(item,start_index_for_searching)----Return index of first occurance of item in list otherwise returns error

In [7]:
numb.index(43)

ValueError: 43 is not in list

In [12]:
numb.index(3,5)

7

### 7.insert(index_value,item)--If given index is available it can add item at given index otherwise it adds at last of the list

In [16]:
num=[0,2,4,6,8,10]
num.insert(1,1)
num.insert(10,12)
num

[0, 1, 2, 4, 6, 8, 10, 12]

### 8.pop(index_value)  --- Removes element at the specific position

In [17]:
numb

[1, 2, 1, 2, 3, [2, 3, 4, 5], [1, 3, 4, 5], 3, 4, 5]

In [19]:
numb.pop(5)
numb

[1, 2, 1, 2, 3, 3, 4, 5]

### 9.Remove(item)---Removes element by its item value If that value is repeated then first occurence of that item is removed

In [22]:
numb.remove(4)
numb

[1, 2, 1, 2, 3, 5]

### 10.Reverse()----Reverse the items in the list

In [23]:
numb.reverse()
numb

[5, 3, 2, 1, 2, 1]

### 11.sort()---Sorts the list

In [30]:
numb.sort()
numb

3

In [32]:
numb.sort(reverse=True)
numb

[5, 3, 2, 2, 1, 1]

In [25]:
l1

['see', 'watch', 'eat', 'sleep']

In [26]:
l1.sort()
l1

['eat', 'see', 'sleep', 'watch']

In [28]:
l1.sort(reverse=True)
l1

['watch', 'sleep', 'see', 'eat']

# Tasks

In [15]:
#1.Given List contains all electronic items [mobile,laptop,speakers,door,files].
#If you find any item which is not related to electronics then remove it using slicing method
li=["mobile","laptop","speakers","door","files"]
for i in range(1,3):
     li.remove(li[3])
print(li)

['mobile', 'laptop', 'speakers']

In [13]:
#2.Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]
list1=[10,20,34,44,88]
length=len(list1)
m=999
n=-999

for i in range(length):
    if list1[i]<m:
        m=list1[i]
    if list1[i]>n:
        n=list1[i]
print(m,n,sep=",")

10,88

In [17]:
#3.Take a list of elements and add that list into another empty list
l1=["Telugu","English","Hindi"]
l2=list()
l2.append(l1)
l2

[['Telugu', 'English', 'Hindi']]

In [24]:
#4.Sort the list of elements in ascending order and descending order.
l1=[12,23,11,9,25,8,10]
l2=l1.copy()
l1.sort()
print(l1)
l2.sort(reverse=True)
print(l2)

[8, 9, 10, 11, 12, 23, 25]
[25, 23, 12, 11, 10, 9, 8]

In [34]:
#5.Given a two list of equal size create a set such that it shows the element from both lists in the pair.
l1=[1,2,3]
l2=[4,5,6]

#for i in range(len(l1)):
       # print([l1[i],l2[i]],sep=",",end=",")
for i in range(len(l1)):
    for j in range(len(l1)):
        print([l1[i],l2[j]],sep=",",end=" ")

[1, 4] [1, 5] [1, 6] [2, 4] [2, 5] [2, 6] [3, 4] [3, 5] [3, 6]

In [35]:
#6.Write a python program to print the sum and average of elements in the list.
l1=[10,20,34,44,88]
sum=0
for i in range(len(l1)):
    sum+=l1[i]
print("Sum",sum)
print("Average",int(sum/len(l1)))

Sum 196
Average 39

## Examples

In [35]:
#Function to identify second largest element in a unique list
         
            
        #remove the max element and then get the max of the new list
def second(li):
    li.sort(reverse=True)
    return li[1]

second([12,23,14,13,25])

23

In [38]:
#Function to sort the data and select the second last element
def sec_last(l):
    l.sort()
    return l[-2]
sec_last([12,23,15,10])

15

In [37]:
# Function to sort the data in reverse order and select the second element
def sec_rev(l):
    l.sort(reverse=True)
    return l[-2]
sec_rev([12,23,15,10])

12

In [39]:
# Function to remove the max element and then get the max of the new list
def rem_max(l):
    l.sort()
    l.remove(l[-1])
    return l[-1]
rem_max([12,23,14,15,19,10])

19

In [36]:
## You are given 3 numbers a,b,c
#Write a program to find the largest number 
# which is less than or equal to c and leaves
# remainder b when divided by a.
#3 2 9
#9 % 3 == 0
#8 % 3 == 2
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
max=-999
for i in range(c+1):
    if i%a==b and max<=i:
        max=i
if max==-999:
    max="undefined"
print(max)

enter a number1
enter a number2
enter a number4
undefined