## Tuples   
---collection of objects are ordered and unchangeable

In [10]:
t=(10,20,30,40,50,60,70,10)
type(t)

tuple

In [2]:
for i in t:
    print(i)

10
20
30

In [15]:
t[0:2:2]
t[0::3]

(10, 40)

In [4]:
t[0:3]

(10, 20, 30)

In [16]:
t[0:3:2]

(10, 30)

In [20]:
t1=("hi",23,89.67,"hello")
print(t1)
print(t1[2])
print(len(t1))
t1.count(23)
t2=list(t1)
t2.append('bye')
t1=tuple(t2)
t1

('hi', 23, 89.67, 'hello')
89.67
4

('hi', 23, 89.67, 'hello', 'bye')

In [15]:
cities=("delhi","mumbai","hyd","bangalore")
li=list(cities)
#print("li is :{0}".format(li))
l=tuple(li)
l

('delhi', 'mumbai', 'hyd', 'bangalore')

In [16]:
if "hyd" in cities:
    print("True")
else:
    print("False")

True

In [17]:
dir(cities)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [18]:
sizeof(cities)

NameError: name 'sizeof' is not defined

In [19]:
#deleting tuple
del cities
print(cities)

NameError: name 'cities' is not defined

In [20]:
#merging 2tuples
t1=(1,2)
t2=(2,1)
print(t1+t2)

(1, 2, 2, 1)

In [23]:
#program to convert given tuple into string
t=['h','e','l','l','o']
s=''
for i in range(len(t)):
    s+=t[i]
print(s)

hello

In [27]:
#program to convert given tuple into string
print("".join(t))

hello

## Tasks

In [28]:
#1.Python program to reverse the elements in the tuple
t=(1,2,3,4)
print(t[::-1])

(4, 3, 2, 1)

In [29]:
#2.Python program to print names in tuples using iterations 
na=("hyd","vizag","guntur","vijayawada")
for i in range(len(na)):
    print(t[i])

## Sets

In [31]:
s={}
s={10,20,30}
s

{10, 20, 30}

In [33]:
s={10,20,30,20,30,10}
s

{10, 20, 30}

In [34]:
names={'yamuna','bhavya','navya','divya'}
for i in names:
    print(i)

yamuna
bhavya
navya
divya

In [35]:
if 'hari' in names:
    print("True")
else:
    print("False")

False

## Set methods

## 1.add()---adding objects into set

In [38]:
names.add('yamuna')
names.add('kavya')
type(names)
names

{'bhavya', 'divya', 'kavya', 'navya', 'yamuna'}

## 2.len()---length of the set

In [39]:
len(names)

5

## 3.update()---updates the set

In [40]:
names.update('harika')
names

{'a', 'bhavya', 'divya', 'h', 'i', 'k', 'kavya', 'navya', 'r', 'yamuna'}

In [ ]:
## 4.remove()--removes the object in the set

In [42]:
names.remove('divya')
names

{'a', 'bhavya', 'h', 'i', 'k', 'kavya', 'navya', 'r', 'yamuna'}

## 5.pop()---removes the first added objects

In [43]:
names.pop()
names

{'a', 'h', 'i', 'k', 'kavya', 'navya', 'r', 'yamuna'}

## 6.discard()---removes

In [44]:
names.discard('y')

In [45]:
names

{'a', 'h', 'i', 'k', 'kavya', 'navya', 'r', 'yamuna'}

## 7.clear()--clear the set

In [50]:
t1={1,2}
t1.clear()
t1

set()

## 8.del()--delete the set

In [53]:
del t1
t1

NameError: name 't1' is not defined

## 9 union()---to combine the set objects

In [54]:
s={1,2,3,4}
w={2,3,4,5}
s.union(w)

{1, 2, 3, 4, 5}

## 10.intersection()----common set objects

In [56]:
s.intersection(w)

{2, 3, 4}

## 11.difference()----remaining objects which are common in sets

In [59]:
s.difference(w)
s

{1, 2, 3, 4}

## 12.difference_update()----updating set with the result of difference()

In [60]:
s.difference_update(w)
s

{1}

## 13.issubset()  --boolean method if set is subset to other

In [68]:
s={1,2,3}
s.issubset(w)
w

{2, 3, 4, 5}

## 14.symmetric_difference()---returns all elements which are exactly in one set

In [67]:
s.symmetric_difference(w)

{1, 4, 5}

### Tasks

In [9]:
#Take two sets and print the result using methods like
#intersection_update
#'isdisjoint',
 #'issuperset',
# 'symmetric_difference',
 #'symmetric_difference_update'
a={1,2,3,4}
s={1,2,3,4,5}
b={0,1,2,3,4,5,6}
c={2,4,6,8,10}
#intersection_update
a.intersection_update(c)
print(a)
#issuperset
print(b.issuperset(s))
#symmetric_difference
b.symmetric_difference(s)
print(b)
#symmetric_difference_update
b.symmetric_difference_update(s)
print(b)

{2, 4}
True
{0, 1, 2, 3, 4, 5, 6}
{0, 6}

# Packages and Modules

 ## Modules

In [72]:
# --A single python file containing functions
# Modules are nothing but python function saved in a.py file and uses that function in another python file as follows
# import filename
#filename. function_name("text")
# we can also rename modules as the follows
#import filename as f

## Packages

In [73]:
#--- contains collection of Modules
#Packages are collection of modules importing the packages by using following syntax
#from package_name import file_name as new_name
#new_name.f_1()

In [74]:
from math import floor as f1
f1(123.345)

123

In [10]:
import random
print(random.randint(5,11))

9

In [77]:
#Python program to print square root of a number using math package
from math import sqrt as s
s(int(input("enter a number")))

enter a number3

1.7320508075688772

# Task

In [8]:
#Add 3 contacts to your contacts application, which you created at the time of working on dictionaries 
from 12-09-2019.ipynb import search_contact as file
print(file("Lavanya"))

SyntaxError: invalid syntax (<ipython-input-8-27dec7623e1d>, line 2)